<%- include('../partials/head.ejs') %> 

<!-- navigation bar -->
<%- include('../partials/navbar.ejs') %> 

<!-- Main Page Content -->
<main class="container __margin--ylg">
   <!-- Add New Bucket -->
   <div class="section add-item __shadow--sm">
      <div class="add-item__relative">
         <div class="add-item__input">
            <img
               class="add-item__icon"
               src="/assets/icons/plus-icon.png"
               alt="Create New Bucket"
            />
            <input
               class="add-item__input-field"
               type="text"
               placeholder="Create New Bucket"
            />
         </div>
      </div>
   </div>

   <!-- Bucket List Table -->
   <div class="section table __shadow--sm">
      <table class="table__table">
         <thead class="table__thead">
            <tr>
               <th>Bucket</th>
               <th>Created</th>
               <th>Costs</th>
               <th class="align-right">Action</th>
            </tr>
         </thead>
         <tbody class="table__tbody">
            <tr>
               <th>Holiday Shopping</th>
               <th class="text-secondary">4 April 2020</th>
               <th>4850 BDT</th>
               <th class="align-right">
                  <button class="icon-button">
                     <img
                        class="icon-button__icon"
                        src="/assets/icons/edit-icon.png"
                        alt="Edit"
                     />
                  </button>
                  <button class="icon-button">
                     <img
                        class="icon-button__icon"
                        src="/assets/icons/delete-icon.png"
                        alt="Edit"
                     />
                  </button>
                  <button class="icon-button">
                     <img
                        class="icon-button__icon"
                        src="/assets/icons/printer-icon.png"
                        alt="Edit"
                     />
                  </button>
               </th>
            </tr>
            <tr>
               <th>Holiday Shopping</th>
               <th class="text-secondary">4 April 2020</th>
               <th>4850 BDT</th>
               <th class="align-right">
                  <button class="icon-button">
                     <img
                        class="icon-button__icon"
                        src="/assets/icons/edit-icon.png"
                        alt="Edit"
                     />
                  </button>
                  <button class="icon-button">
                     <img
                        class="icon-button__icon"
                        src="/assets/icons/delete-icon.png"
                        alt="Edit"
                     />
                  </button>
                  <button class="icon-button">
                     <img
                        class="icon-button__icon"
                        src="/assets/icons/printer-icon.png"
                        alt="Edit"
                     />
                  </button>
               </th>
            </tr>
            <tr>
               <th>Holiday Shopping</th>
               <th class="text-secondary">4 April 2020</th>
               <th>4850 BDT</th>
               <th class="align-right">
                  <button class="icon-button">
                     <img
                        class="icon-button__icon"
                        src="/assets/icons/edit-icon.png"
                        alt="Edit"
                     />
                  </button>
                  <button class="icon-button">
                     <img
                        class="icon-button__icon"
                        src="/assets/icons/delete-icon.png"
                        alt="Edit"
                     />
                  </button>
                  <button class="icon-button">
                     <img
                        class="icon-button__icon"
                        src="/assets/icons/printer-icon.png"
                        alt="Edit"
                     />
                  </button>
               </th>
            </tr>
         </tbody>
      </table>
   </div>
</main>
</body>
</html>