<nav class="nav __shadow--lg">
   <div class="container nav__container">
      <div class="nav__brand">
         <img
            class="nav__brand-logo"
            src="/assets/brand-logo/brand-logo.svg"
            alt="Brand Logo"
         />
         <h1 class="nav__brand-name">Shopping Cart</h1>
      </div>
      <div class="nav__menu nav__menu--right">
         <div class="nav__menu-items">
            <img
               class="nav__menu-icon"
               src="/assets/icons/more-menu.png"
               alt="More Menu"
            />
         </div>
      </div>
   </div>
</nav>
